.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-bottom: 20px;
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
}

.taskDescription {
    font-size: 16px;

}

.btn-delete{
    margin-top: 10px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border: 2px solid transparent;
    border-radius: 0.25rem;
}

.taskStatus{
    margin-left: 20px;
    color: rgb(4, 2, 2);
    background-color: #ffc831;
    border-color: #030406;
    border-radius: 0.25rem;
    border: 3.5px solid transparent;
}